/RUNNING_PID
/logs/
/project/*-shim.sbt
/project/project/
/project/target/
/target/
/.idea/
/.bsp/
/bin/
/libexec/
.cache
.gradle
.idea_modules
.project
.settings
.target
/out
attic
build
logs
dist
__pycache__
tmp
*.bak
*.log
*.tmp
*.pyc
*.swp
RUNNING_PID
/node_modules
/bower_components
/curl/.token
/curl/.security.json
/hacks/
/src/main/resources/application.dev.conf
/local/

